@import 'tailwindcss';

@layer base {
  @font-face {
    font-family: 'UnifontExMono';
    src: url('https://stgiga.github.io/UnifontEX/UnifontExMono.eot');
    src:
      url('https://stgiga.github.io/UnifontEX/UnifontExMono.eot?#iefix')
        format('embedded-opentype'),
      url('https://stgiga.github.io/UnifontEX/UnifontExMono.woff')
        format('woff'),
      url('https://stgiga.github.io/UnifontEX/UnifontExMono.ttf')
        format('truetype'),
      url('https://stgiga.github.io/UnifontEX/UnifontExMono.svg#UnifontExMono')
        format('svg');
    font-weight: normal;
  }

  html {
    font-family: 'UnifontExMono', sans-serif;
  }

  body {
    @apply bg-material min-h-svh;
  }
}

@theme {
  --color-primary: #080f69;
  --color-material: #c6c6c6;
}

@layer utilities {
  @keyframes rotate3D {
    0% {
      transform: rotate3d(0, 1, 0, 0deg);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
  }

  .justify-safe-center {
    justify-content: safe center;
  }

  .animate-rotate-3d {
    animation: rotate3D 0.8s linear infinite;
  }

  .repeat-1 {
    animation-iteration-count: 1;
  }
}
